* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-color: #dfdcdc;
}
a {
  font-weight: bold;
  color: #2e91a3;
  transition: 150ms;
  text-decoration: none;
}
a:hover {
  transition: 150ms;
  opacity: 0.91;
}
li {
  list-style: none;
}
